*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.window{
    width: 800px;
    height: 500px;
    background: #ececec;
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .radio-group:not(:last-of-type) {
    margin-bottom: 10px;
  }  
 
.title{
    padding: 8px;
}
 
.row-1{
    display: flex;
    justify-content:space-between;
    background: #d4d4d4;
}
a{
    text-decoration: dashed;
}

.radio{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.radio__input{
    display: none;
}

.radio__radio{
    width: 1.25em;
    height: 1.25em;
    border:2px solid #000000;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;

}
.radio__radio::after{
    content:"";
    width:100%;
    height:100%;
    display: block;
    background-color: #836483;
    border-radius: 50%;

    transform:scale(0);
    transition: transform 0.1s ease-in;
}

.radio__input:checked + .radio__radio::after{
    transform:scale(1);
}

.btn{
    background: #191a29;
    padding: 8px;
    color: #fff;
    border: none;
    font-size: 15px;
    display: block;    
    margin-left: 12px;
    cursor:pointer;
    transition: background-color 0.3s ease;

}
.btn:hover{
    background-color: #6a6dac;
}
.intervalBody{
    display: flex;
}
.interval{
    margin: 15px;
}
.numInput{
    margin-right: 4px;
}
.results{    
    display: flex;
    align-items: center;
    margin-right: 15px;
}
a{
   min-height: 20px;

}
.operations{
    padding: 10px;
    border-radius: 12px;
    border: 1px solid rgb(175, 175, 175);
}

.operations{
    display: flex;
    margin: 15px;
}
.operation-1,.operation-2,.operation-3{
    display: flex;
    flex-direction: column;
}
input{
    display: block;
    width: 60px;
    height: 20px;
    margin-bottom: 4px;
}
.goal-result{
    width: 250px;
    height: 500px;
    position: absolute;
    right: 0;
    bottom: 10px;
    background: rgb(178, 173, 240);
}
canvas{
    margin: 15px;
}
.footer{
    display: flex;    
    position: absolute;
    bottom: 25px;
    
}